.number-box {
    background-color: rgb(255, 255, 255, .8);
    /* border-radius: 50%;
    border-color: black; */
}

.width90 {
    width: 90%;
    margin: auto;
}

.row {
    display: inline;
    color: red;
}

.bg-red {
    background-color: red;
}

.bg-yellow {
    background-color: yellow;
}

.bg-green {
    background-color: green;
}

.bg-blue {
    background-color: blue;
}

